<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>geneCode</title>
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
</head>

<style>
    body {
        text-align: center;
        padding-top: 100px;
    }
    .content {
        margin-top: 10px;
    }
</style>

<body>
    <div class="content">
        <span>后端：</span>
    </div>
    <div class="content">
       <a href="/gene/goto/code">生成后端代码</a>
    </div>
    <div class="content">
        <a href="/gene/goto/project">生成后端项目以及代码</a>
    </div>
    <div class="content">
        <a href="/gene/goto/list">已经生成文件列表</a>
    </div>
</body>

<script th:inline="javascript">
</script>
</html>